main {

}

febe-framework-list {
  display: flex;
  flex-direction: row;
}

febe-framework-item {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

febe-framework-item > img {
  max-width: 150px;
  margin-bottom: auto;
  margin-top: auto;
}
